@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

html body {
    font-family: 'Mulish', sans-serif;
    font-size: larger;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

/* Visibility settings */

/* Form div */
#Form {
    display: none;
}

#FormIntro {
    display: none;
}


/* Homepage div */
#HomePage {
    display: block;
}

#logoScreen {
    display: none;
}

#aboutMe {
    display: none;
}

#aboutMe2 {
    display: none;
}

#aboutMe3 {
    display: none;
}

#aboutMe4 {
    display: none;
}

#scrollToTopBtn {
    display: none;
}




#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

nav {
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(33,37,41,1),  rgba(33,37,41,1),rgba(33,37,41,1),  rgba(33,37,41,1));
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 0%;
    display: flex;
}

button img {
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
}

#visualizer, #btnHome, #btnForm, #btnAboutMe {
    background:none;
}

#btnHome img:hover {
    content: url('img/iconos/home2.svg');
}

#btnForm img:hover {
    content: url('img/iconos/file2.svg');
}

#btnAboutMe img:hover {
    content: url('img/iconos/profile2.svg');
}

.homePage {
    padding: 10%;
    margin: 1%;
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 112, 112, 0.1);
}

.homePage2 {
    padding: 5%;
    margin: 1%;
    width: 65%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 112, 112, 0.1);
}

.homePage3 {
    padding: 1%;
    margin: 1%;
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 112, 112, 0.1);
}

.formContainer {
    padding: 3%;
    margin: 1%;
    width: 70%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 112, 112, 0.1);
}

.formContainer2 {
    padding: 3%;
    margin: 1%;
    width: 60%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 112, 112, 0.1);
}

.carousel {
    padding: 3%;
    margin: 1%;
    width: 65%;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 112, 112, 0.1);
}

/* up next we center the form's button */
.formContainer button {
    display: block;
    margin: 0 auto;
}

.aboutPage {
    padding: 3%;
    margin: 1%;
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 112, 112, 0.1);
}

#aboutPage2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.card {
    padding: 3%;
    margin: 3%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 112, 112, 0.1);
}

#right, #left {
    height: 30%;
    width: 30%;
}

/* Floating buttons */

#whatsAppButton {
    position: fixed;
    bottom: 20px;
    left: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    
    background: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    
    background: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#whatsAppButton img {
    width: 70px;
    height: 70px;
    display: block;
    border-radius: inherit;
}

#scrollToTopBtn img {
    width: 70px;
    height: 70px;
    display: block;
    border-radius: inherit;
}

@media (max-width: 768px) {
    #whatsAppButton img,
    #scrollToTopBtn img {
        width: 50px;
        height: 50px;
    }

    .homePage {
        width: 90%;
    }

    .homePage2 {
        width: 90%;
    }

    .homePage3 {
        width: 90%;
    }

    .formContainer {
        width: 90%;
    }

    .formContainer2 {
        width: 90%;
    }

    .carousel {
        display: none;
    }

    .aboutPage {
        width: 90%;
    }

    .aboutPage2 {
        width: 90%;
    }

    .card {
        width: 90%;
    }

    #right, #left {
        height: 40%;
        width: 40%;
    }
}

footer {
    background-image: linear-gradient(to top, rgba(33,37,41,1),rgba(33,37,41,1), rgba(33,37,41,1), rgba(33,37,41,1),  rgba(33,37,41,1), rgba(255,0,0,0));
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}